/* ConTent Stylesheet v0.1.18032016 */
/* dodane AGA*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
}
/* tekst w stopce */
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 9px 16px;
    text-decoration: none;
    font-family: 'Didact Gothic', sans-serif;

}

div{
    font: 20px Calibri Light, sans-serif;
}
table{
    font: 20px Calibri Light, sans-serif;
}

body {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.mainTable{
    
}

.paragraft {
        margin-top: 5%;
        text-align: center;
        font-family: 'Pacifico', cursive;
}

@media screen and (max-width: 1366px) {
    .paragraft {
        margin-top: -3%;
        text-align: center;
        font-family: 'Pacifico', cursive;
    }
}
.divglowny{
    background-color: lightgrey;
    margin-left: 50px;
    margin-right: 50px;
}
.header{
    background-color: #00001a;
    height: 50px;  
    width: 99.5%;
    align-items: center;
    vertical-align: top;
    font-family: 'Didact Gothic', sans-serif;
    border-radius: 5px;
}

.footer{
    background-color: #00001a;
    height: 70px;
    width: 99.5%;
    align-items: center;
    vertical-align: top; 
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font: 20px Calibri Light, sans-serif;
    position: relative;
    border-radius: 3px;
}


a {
    text-decoration: none;
    color: black;
    font: 20px Calibri Light, sans-serif;
    
}
a:hover{
    text-decoration: underline;
}

h1{
    text-align:center;
    font: 20px Calibri Light, sans-serif;
}

.placeholder {
    width: 90px;
    height: 90px;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    float: left;
    margin: 10px 10px 10px 10px;
    margin: 25px 10px 10px 30px;
}

.searchInput{
    font-size: 20px;
    color: darkgrey;
    float: left;
    padding: 15px;
    border: solid 3px #ccc;
    font-family: 'Didact Gothic', sans-serif;
}

.btn-search.btn{
    background-color: #fff;
    border: 2px solid black;
    float:left;
    color: black;
    padding: 15px 30px;
    font-size: 15px;
    text-align: center;
    margin: 3px 20px;
}

.btn-search.btn:hover{
    color:#333;
    background-color:#e6e6e6;
    border-color:#adadad
}

.carousel{
    display: table;
    width: 100%;

}
.carousel-body{
    display: table-row;
}
.item{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 2% 15% 5% 15%;
}

.divstatic{
    align-content: center;
    text-align: center;
    font: 20px Calibri Light, sans-serif;
    
}
.divstatic h2{
    border-bottom: 1px solid black;
    font-size: 20px;
    font: 20px Calibri Light, sans-serif;
}

.divstatic p{
    font-size: 15px;
}

.postSearch-menu{
    width: 250px;
    margin-left: 30px;
    vertical-align: top;
    border: 1px solid black;
}

.postSearch-menu ul{
    padding-left: 10px;
}
.postSearch-menu select{
    padding-left: 10px;
    width: 100%;
}
.postSearch-menu ul li{
    font-size: 15px;
    list-style-type: none;
    padding-bottom: 10px;
    background-color: lightblue;
}

.results{
    display: table;
    border: 1px solid black;
}

.results-body{
    display: table-row;
}

.results-item {
    display: table-cell;
    float: left;
    margin: 0px 10px 10px 20px;
}

.results-item p{
    text-align: center;
    font-size: 14px;
    display: table-cell;
    width: 148px;
}

.login{
    width: 100%;
    align-content: center;
}

.login td{
    align-content: center;

}

h3{
    margin-bottom: 5px;
}

button{
    background-color: #fff;
    border: 2px solid black;
    color: black;
    padding: 10px 30px;
    font-size: 14px;
    text-align: center;
    margin: 20px;
}

.user-menu {
    border: 1px solid black;
    vertical-align: top;
    width: 200px;
}

.user-menu button{
    background-color: #fff;
    border: 2px solid black;
    color: black;
    width: 180px;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    margin: 5px;
}

.user-menu button:hover{
    background-color: #000;
    color: white;

}

.user-content {

    border: 1px solid black;
    vertical-align: top;
    width: 100%;
}

.user-content ul{
    margin-left: 0px;
    padding: 0px;
    
}

.user-content div{
    background-color: #fff;

    color: black;
    padding-left: 20px;
    margin: 20px;
    font-size: 20px;
    list-style-type:none;
}

.user-content button{
    background-color: #fff;
    border: 2px solid black;
    float: right;
    margin: 10px;
    color: black;
    padding: 5px 20px;
    font-size: 14px;
    text-align: center;
}

.user-content button:hover{
    background-color: #000;
    color: white;
}

.register-info{
    font-size: 12px;
    margin-top: 20px;
    width: 300px;
    border: 1px dotted black;
}

.conformation {
    width: 100%
}

.conformation tr{
    width: 50%;
    font-size: 20px;
}
.conformation td{
    width: 30%;
    font-size: 20px;
    border: 0px;
}

.conformation-div{
    float:right;
}

.dane1{
    background-color:#e4e4e4;
}

.carousel-inner .active.left { left: -25%; }
.carousel-inner .next        { left:  25%; }
.carousel-inner .prev		 { left: -25%; }
.carousel-control 			 { width:  4%; }
.carousel-control.right {background-image:none !important; color: black; padding: 8% 0% 10% 25%;}
.carousel-control.right:focus {color:gray;}
.carousel-control.right:hover {color:black;}
.carousel-control.left  {background-image:none !important; color: black; padding: 8% 25% 10% 0%;}
.carousel-control.left:focus {color:gray;}
.carousel-control.left:hover {color:black;}

html body .container-fluid.body-content {
  position: absolute;
  top: 120px;
  bottom: 90px;
  right: 15px;
  left: 5px;
  overflow: hidden;
}

.jumbotron {
    height: 93%;
    position: relative;
    overflow: scroll;
    overflow-x: auto;
    overflow-y: auto;
}


.myCarousel {
    border: 1px solid transparent;
}

.errorForm {
    color: red;
    font-size: 13px;
    text-align: center;
}

.thumbnail {
    height: 37vh;
}

.thumbnail-search {
    height: 40vh;
}
.fieldsite-image {
    max-width: 550px;
    max-height: 500px;
    float:left;
}

.fieldsite-title {
    position:relative;
    float:left;
    margin:20px;
    top:-5%;
}

.fieldsite-button {
    position:relative;
    float:right;
    top:0%;
}

.fieldsite-text {
    float:left;
    padding-bottom: 20px;
}

.title-field {
    position:relative;
    float:left;
    font-size: 45px;
    padding-top: 2%;
}

.btn-width-fieldsite {
    width:250px;
    margin: 2px;
}

.login-bottom {
    position:relative;
    right:1.5%;
}

@media screen and (max-width: 1366px) {
    .fieldsite-image {
    max-width: 450px !important;
    max-height: 400px !important;
    float:left;
}
    .title-field {
    position:relative;
    float:left;
    font-size: 40px;
    padding-top: 0%;
}
    .fieldsite-button {
    position:absolute;
    float:right;
    right:0%;
    top:57%;
}
    .thumbnail-search {
    height: 45vh;
}
    .btn-width-fieldsite {
    width:240px;
}
    .forbidden-image {
        width:400px;
        height:200px;
    }

    .forbidden-text {
        font-size: 40px !important;
    }

    .login-bottom {
    position:relative;
    right:2.5%;
}

}

input[type='checkbox'].tags-checkbox:checked + label > i:first-of-type,
input[type='checkbox'].tags-checkbox + label > i:last-of-type{
    display: none;
}
input[type='checkbox'].tags-checkbox:checked + label > i:last-of-type{
    display: inline-block;
}

.new-order-header{
    text-align: center;
}

.reservation-next-button{
    float:right;
    padding-top:3%;
}

.reservation-previous-button{
    float:left;
    padding-top:3%;
}

.reservation-field-width{
    max-width: 300px;
    text-align: center;
    align-self: center;
    margin: 0 auto;
    float: none;
}

.select-reservation{
    max-width: 100px;
    text-align: center;
    align-self: center;
    margin: 0 auto;
    float: none;
}

.header-conf{
    text-align: center;
    padding: 1%;
}

.normstar {
    font-size:30px;
    display:inline-block;
    position:relative;
}

.center-div {
    position: relative;
    left:40%;
}

.forbidden-button {
    margin:10px;
}