<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<form method="post" action="/confirm-reservation/">
    {% csrf_token %}
<h2 class="header-conf">Potwierdzenie rezerwacji miejsc</h2>

<table class="conformation table">
    <tr class="dane1 success">
        <td>Nazwa pola</td>
        <td>{{campsite.field_name}}</td>
    </tr>
    <tr class="dane1 info">
        <td>Miejscowość</td>
        <td>{{campsite.field_locality}}</td>
    </tr>
    {% for place in places_of_campsite %}
    <tr class="dane1 success">
        <td>{{place.place_type}}</td>
        <td>{{place.reserved_spaces}}</td>
         <input type="hidden" name="{{place.id}}" value={{place.reserved_spaces}}>
    </tr>
    {% endfor %}
    <tr class="dane1 success">
        <td>Rezerwacja na</td>
        <td>{{buyer.first_name}} {{buyer.last_name}}</td>
    </tr>
     <tr class="dane1 info">
        <td>Data przybycia</td>
        <td>{{arrival}}</td>
    </tr>
    <tr class="dane1 success">
        <td>Data wyjazdu</td>
        <td>{{departure}}</td>
    </tr>
        <tr class="dane1 info">
        <td>Kwota do zapłaty</td>
        <td>{{price}} zł</td>
    </tr>
</table>

    <div class="reservation-next-button">
        <button class="btn btn-success btn-lg">Rezerwuję</button>
    </div>
    <div class="reservation-previous-button">
        <button class="btn btn-warning btn-lg">Powrót</button>
    </div>
    <input type="hidden" name="campsite_id" value={{campsite.id}}>
    <input type="hidden" name="arrival" value={{arrival}}>
    <input type="hidden" name="departure" value={{departure}}>
    <input type="hidden" name="price" value={{price}}>
    <input type="hidden" name="number_of_places" value={{number_of_places}}>

    </form>
{% endblock %}