<head>
<link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>

<h1>Potwierdzenie rezerwacji miejsc</h1>

<table class="conformation">
    <tr class="dane1">
        <td>Nazwa pola</td>
        <td>"Pole namiotowe"</td> 
    </tr>
    <tr>
        <td>Miejscowość</td>
        <td>Krynica</td> 
    </tr>
    <tr class="dane1">
        <td>Miejsca</td>
        <td>2</td> 
    </tr>
    <tr>
        <td>Rezerwacja na</td>
        <td>Adam Abacki</td> 
    </tr>
     <tr class="dane1">
        <td>Data przybycia</td>
        <td>22.08.2016</td> 
    </tr>
    <tr>
        <td>Data wyjazdu</td>
        <td>29.08.2016</td> 
    </tr>
</table>

<div class="conformation-div">
    <button>Edytuj</button>
    <button>Anuluj</button>
    <button>Zatwierdź</button>
</div>