<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<table class="login">
    <tr align="center">
        <td >
            <h1 class="forbidden-text">Zabłądziłeś?</h1>
            <img src="{% static 'images/404.png' %}" class="forbidden-image">
            <h3>Strona nie istnieje</h3>
            <a href="#">admin@content.pl</a>
            <br>
            <button class="btn-info forbidden-button" onclick="window.location.href='/index'">Strona główna</button>
        </td>
    </tr>
</table>
{% endblock %}