<head>
<link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>

<table>
    <tr>
        <td class="user-menu">
            <button>Twoje dane</button> 
            <button>Dodaj pole namiotowe</button>
            <button>Pola namiotowe</button>
            <button>Wyloguj</button>
        </td>
        <td class="user-content">
            <ul>
                <li>
                    Pole namiotowe "Agnieszka"
                    <button>Edytuj</button>
                    <button>Informacje</button>
                    <button>Usuń</button>
                </li>
                <li>
                    Pole namiotowe "Michał"
                    <button>Edytuj</button>
                    <button>Informacje</button>
                    <button>Usuń</button>
                </li>
                <li>
                    Pole namiotowe "Adam"
                    <button>Edytuj</button>
                    <button>Informacje</button>
                    <button>Usuń</button>
                </li>
            </ul>
        </td>
        
    </tr>
</table>