<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'rating.css' %}">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
</head>

<div class="fieldsite-image">
    <img src="{% static campsite.field_photo %}" class="img-responsive">
</div>

<div class="fieldsite-title">
    <div class="title-field">Pole namiotowe "{{campsite.field_name}}"</div>
    <div>JakieśMiasto ul. JakaśTam 11/12</div>
    <form>
        <div class="stars">
            <input class="star star-5" id="star-5" type="radio" name="star"/>
            <label class="star star-5" for="star-5"></label>
            <input class="star star-4" id="star-4" type="radio" name="star"/>
            <label class="star star-4" for="star-4"></label>
            <input class="star star-3" id="star-3" type="radio" name="star"/>
            <label class="star star-3" for="star-3"></label>
            <input class="star star-2" id="star-2" type="radio" name="star"/>
            <label class="star star-2" for="star-2"></label>
            <input class="star star-1" id="star-1" type="radio" name="star"/>
            <label class="star star-1" for="star-1"></label>
        </div>
        <div class="rating-avg">
            <h3>0/5</h3>
        </div>
        <h2>Udogodnienia:</h2>
        {% if convenience.canteen %}
        <label>
            <i class='glyphicon glyphicon-check'></i>
            <span class='label-content'>Stołówka</span>
        </label>
        {% endif %}
        {% if convenience.easy_access %}
        <br>
        <label>
            <i class='glyphicon glyphicon-check'></i>
            <span class='label-content'>Łatwy dojazd</span>
        </label>
        {% endif %}
        {% if convenience.equipment_rental %}
        <br>
        <label>
            <i class='glyphicon glyphicon-check'></i>
            <span class='label-content'>Wypożyczalnia</span>
        </label>
        {% endif %}
        {% if convenience.parking %}
        <br>
            <label>
            <i class='glyphicon glyphicon-check'></i>
            <span class='label-content'>Parking</span>
        </label>
        {% endif %}
        {% if convenience.shower %}
        <br>
            <label>
            <i class='glyphicon glyphicon-check'></i>
            <span class='label-content'>Prysznic</span>
        </label>
        {% endif %}
        {% if convenience.wifi %}
        <br>
            <label>
            <i class='glyphicon glyphicon-check'></i>
            <span class='label-content'>Wifi</span>
        </label>
       {% endif %}
    </form>
</div>

<div class="fieldsite-button">
    <button class="btn-success btn-width-fieldsite"
    onclick="window.location.href='/reservation/new-reservation/{{campsite.id}}'">Rezerwuje miejsce!</button><br>
    <button class="btn-info btn-width-fieldsite"
            onclick="window.location.href='https://google.com/maps/place/{{campsite.field_address}}/'">
            Pokaż na mapie</button>
</div>


<div class="fieldsite-text">
<h2>Opis:</h2>
    "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
    corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
    qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita
    distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
    placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut
    officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non
    recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias
    consequatur aut perferendis doloribus asperiores repellat."
</div>
{% endblock %}
