<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<table class="login">
    <tr align="center">
        <td >
            <h2>Przypominanie hasła</h2>
            <p width="200px">W przypadku gdy nie pamiętasz jakie jest hasło do Twojego konta.<br> Podaj poniżej swój adres e-mail, na który
            zostało założone konto, a wyślemy do Ciebie Twoje hasło.</p>
            <h3>E-mail</h3>
            <input  type="email" class="form-control" style="width:20%">
            <br>
            <a href="/forgotemail">Nie pamiętasz adresu e-mail?</a>
            <br>
            <button class="btn-default forbidden-button">Resetuj hasło</button>
        </td>
    </tr>
</table>
{% endblock %}