<head>
<link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>

<table class="header">
    <tr>
        <td>
            <div class="placeholder"></div>
        </td>
        <td >
            <form>
                <input class="searchInput" placeholder="Podaj nazwę miejsocwości lub pola namiotowego" type="text" size="50" name="search">
                <a href="postsearch.html">
                <p class="searchButton">Wyszukaj</p></a>
            </form>
        </td>
        <td align="right">
            <div style="positon:fixed; padding:10px;">
                <ul>
                <li style="float:right"><a href="register.html">Rejestracja</a> </li>
                <li style="float:right"><a href="login.html">Zaloguj się</a> </li>
            </ul>
            </div>
        </td>
    </tr>
</table>




