<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div>
    <div class="new-order-header">
        <h2>Pole namiotowe "Agnieszka"</h2>
        <h3>Wybierz miejsce:</h3>
        <div class="form-group">
            <p>Miejsce namiotowe: 12zł<select class="form-control select-reservation" id="sel1"></p>
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            </select>
            <p>Miejsce kampingowe: 140zł<select class="form-control select-reservation" id="sel2"></p>
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            </select>
        </div>
    </div>
    <div class="reservation-next-button">
        <button class="btn btn-success btn-lg">Dalej</button>
    </div>
    <div class="reservation-previous-button">
        <button class="btn btn-warning btn-lg">Powrót</button>
    </div>
</div>
{% endblock %}