<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="row">
    {% for campsite in matched_campsites %}
    <div class="col-xs-6 col-md-3">
        <a href="/fieldsite/{{campsite.id}}" class="thumbnail thumbnail-search" style="text-decoration: none">
            <img src="{% static campsite.field_photo %}" >
            <h3 align="center">{{campsite.field_name}}</h3>
            <p align="center">{{campsite.field_locality}}</p>
        </a>
    </div>
    {% endfor %}
    {% if not matched_campsites %}
    <h3 class="header-conf">Brak wyników wyszukiwania dla podanej frazy.</h3>
    <img src="{% static 'images/tent_no_search_result.jpg' %}" class="thumbnail center-div">
    {% endif %}
</div>
{% endblock %}
