<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<head>
    <meta charset = "utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet.css' %}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<body  class="body">
    <div class="container-fluid body-content" style="margin-top: 25px;">
        <div class="jumbotron">

            <div class="row">
                {% for campsite in matched_campsites %}
              <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail" style="text-decoration: none">
                    <h3 align="center">{{campsite.field_name}}</h3>
                    <img src="{% static campsite.field_photo %}" >
                    <p align="center">{{campsite.field_locality}}</p>
                </a>
              </div>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}
</body>