<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<head>
    <meta charset = "utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet.css' %}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>

<body class="body">
    <div class="container-fluid body-content">
        <div class="jumbotron">
            <table>
                <tr>
                    <td width="50%">
                        <form method="POST" >{% csrf_token %}
                            <div>
                            <h2>Zarejestruj się</h2>

                                {% for field in cform %}
                                 <div class="control-group">
                                    <label class="control-label">{{ field.label }}</label>
                                    <div class="controls">
                                        {{ field }}
                                    </div>
                                     {% if field.errors %}
                                     <div class="errorForm">
                                        {{ field.errors}}
                                     </div>
                                    {% endif %}
                                {% endfor %}
                                </div>
                            </div>
                            <br>
                            <div class="control-group">
                                <div class="controls">
                                    <button type="submit" class="btn">Zarejestruj</button>
                                </div>
                            </div>
                        </form>
                    </td>
                    <td width="50%" align="center">
                    <div>
                        <img src="{% static 'images/placeholder.jpg' %}" style="width:300px;height:300px;">
                        <h3>Content</h3>
                        <p align="center" style="font-size:11px; " >
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                        </p>
                    </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}
</body>