{% load staticfiles %}
<head>
    <meta charset = "utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet.css' %}">
</head>

<table class="login">
    <tr>
        <td><form method="POST">{% csrf_token %}
            <div>

                <h3>Zarejestruj się</h3>
                <div class="register-info">Jako użytkownik masz możliwość rezerwacji miejsc na interesujących Cię polach namiotowych. Nie czekaj załóż konto już dziś!</div>
                    <h3>Imię</h3>
                    <input  type="text" name="first_name">
                    <h3>Nazwisko</h3>
                    <input type="text" name="last_name">
                    <h3>Telefon</h3>
                    <input type="text" name="phone_number">
                    <h3>E-mail</h3>
                    <input type="text" name="email">
                    <h3>Hasło</h3>
                    <input type="password" name="password">
                    <h3>Powtórz hasło</h3>
                    <input type="password" name="password">
                    <br>
                    <button type="submit" name="submit">Zarejestruj</button>

            </div>

            <div>
                <h2>Zarejestruj się</h2>
                <div class="register-info">
                    Jako właścicel masz możliwość dodawania ofert pól namiotowych, dodawania opisów, ...
                </div>
                <h3>Imię</h3>
                <input  type="text" name="first_name">
                <h3>Nazwisko</h3>
                <input type="text" name="last_name">
                <h3>Telefon</h3>
                <input type="text" name="phone_number">
                <h3>Nazwa firmy</h3>
                <input type="text" name="company_name">
                <h3>Miasto</h3>
                <input type="text" name="company_locality">
                <h3>Adres</h3>
                <input type="text" name="company_address">
                <h3>Kod pocztowy</h3>
                <input type="text" name="company_postal_code">
                <h3>NIP</h3>
                <input type="text" name="company_NIP">
                <h3>REGON</h3>
                <input type="text" name="company_REGON">
                <h3>E-mail</h3>
                <input type="text" name="email">
                <h3>Hasło</h3>
                <input type="password" name="password">
                <h3>Powtórz hasło</h3>
                <input type="password" name="password">
                <br>
                <button type="submit" name="submit">Zarejestruj</button>

            </div>

           </form>
        </td>
        <td valign="top">
            <img src="{% static 'images/placeholder.jpg' %}" style="width:300px;height:300px">
            <h3 style="width:300px;  text-align: center;">Content</h3>
            <p style="font-size:10px;width:300px;" >
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            </p>
        </td>
    </tr>
</table>