<head>
<link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>

<table>
    <tr>
        <td class="user-menu">
            <button>Twoje dane</button> 
            <button>Dodaj pole namiotowe</button>
            <button>Pola namiotowe</button>
            <button>Wyloguj</button>
        </td>
        <td class="user-content">
        
            <div style="float:left;margin:20px">
                <form>
                    <h3>Obecne hasło</h3>
                    <input  type="text" name="address">
                    <h3>Nowe hasło</h3>
                    <input type="text" name="email">
                    <h3>Powtórz nowe hasło</h3>
                    <input type="text" name="phone">
                    <br><br>
                    <button>Zmień hasło</button><br><br>
                </form>
            </div>
            
        </td>
        
    </tr>
</table>