<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<head>
    <meta charset = "utf-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

</head>



<body class="body">
    <div class="container-fluid body-content">
        <div class="jumbotron">
            <div  class="btn-group-vertical" style="float: left; width: 20%">
                <a href="/user" class="btn btn-default" role="button">Dane użytkownika </a>
                <a href="/user-myreservations/" class="btn btn-default" role="button">Moje rezerwacje</a>
                <a href="/user-editlogin" class="btn btn-default" role="button">Zmień dane logowania</a>
                <a href="/logout_method" class="btn btn-default" role="button">Wyloguj</a>
            </div>
            <div style="float: left; margin-left: 20px; width: 70%;">
                <div class="panel panel-default">
                    {% block client %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>