<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<head>
    <meta charset = "utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet.css' %}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>



<body class="body">
     <div class="container-fluid body-content">
        <h1 class="jumbotron">
            <table>
                <tr>
                <td class="user-menu">
                    <button>Dane użytkownika</button>
                    <button>Dodaj pole namiotowe</button>
                    <button>Moje pola namiotowe</button>
                    <button>Zmień dane logowania</button>
                    <button>Wyloguj</button>
                </td>
                <td class="user-content">
                    <h1>Edytuj pole namiotowe</h1>
                    <form>
                      <div class="row">
                      <div class="col-sm-3">
                                                  <div>
                            <h2>Nazwa pola</h2>
                            <input type="text"name="field_name">
                            <h2>Strona</h2>
                            <input type="text"name="field_website">
                            <h2>Telefon</h2>
                            <input type="text"name="field_phone_number">
                            <h2>Email</h2>
                            <input type="text"name="field_email">
                        </div>
                      </div>
                      <div class="col-sm-3">
                                                  <div>
                            <h2>Miasto</h2>
                            <input type="text"name="field_locality">
                            <h2>Adres</h2>
                            <input type="text"name="field_address">
                            <h2>Kod pocztowy</h2>
                            <input type="text"name="field_postal_code">

                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div>
                            <h2>Udogodnienia</h2>
                            <input type="checkbox" name="canteen">canteen<br>
                            <input type="checkbox" name="wifi">wifi<br>
                            <input type="checkbox" name="shower">shower<br>
                            <input type="checkbox" name="easy_access">easy_access<br>
                            <input type="checkbox" name="parking">parking<br>
                            <input type="checkbox" name="equipment_rental">equipment_rental<br>
                        </div>
                      </div>

                          <div class="col-sm-3">
                        <div>
                             <div style="width:20%;">
                                <h2>Zdjęcie pola</h2>
                                <p name="field_photo"><img src="" height="100px;">
                                <br> <br>
                                <button style="float: left;" type="submit" name="field_photo">Zmień</button>
                            </div>
                        </div>
                      </div>

                    </div>
                    <div class="row">
                      <div class="col-sm-7">
                        <h2>Miejsca</h2>
                        <div class="panel-group">
                            <a data-toggle="collapse" href="#collapse1">Dodaj miejsca</a>
                            <div id="collapse1" class="panel-collapse collapse">
                                  <table class="table table-striped">
                                    <thead>
                                      <tr>
                                        <th>Typ miejsca</th>
                                        <th>Cena</th>
                                        <th>Rozmiar</th>
                                        <th>Ilość miejsc</th>
                                        <th>Limit miejsc</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td><input type="text" name="place_type"></td>
                                        <td><input type="text" name="price"></td>
                                        <td><input type="text" name="dimension"></td>
                                        <td><input type="text" name="number_of_places"></td>
                                        <td><input type="text" name="limit_of_places"></td>
                                         <td><button style="float: none;">Dodaj miejsce</button></td>
                                      </tr>
                                    </tbody>
                                  </table>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-5">
                         <div style="width:80%;">
                            <h2>Opis pola</h2>
                            <textarea rows="10" cols="100">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat
                            </textarea>
                            <br><br>

                            <button style="float: none;">Zapisz</button>

                        </div>

                      </div>
                    </form>
                </td>
            </tr>
        </table>
        </h1>
     </div>



{% endblock %}
</body>