<!DOCTYPE html>
{% extends 'user-owner.html' %}
{% load staticfiles %}
{% block client %}

<div class="panel-heading">Moje dane</div>
<div class="panel-body">
    <form>
        <div>
        <h3>Imię</h3>
        <p name="first_name" class="list-group-item list-group-item-info">first name</p>
        <h3>Nazwisko</h3>
        <p name="last_name" class="list-group-item list-group-item-info">last name</p>
        <h3>Telefon</h3>
        <p name="phone_number" class="list-group-item list-group-item-info">phone number</p>
        </div>

        <div>
            <h3>Firma</h3>
            <p name="company_name" class="list-group-item list-group-item-info">company_name</p>
            <h3>NIP</h3>
            <p name="company_NIP" class="list-group-item list-group-item-info">company_NIP</p>
            <h3>REGON</h3>
            <p name="company_REGON" class="list-group-item list-group-item-info">company_REGON</p>
        </div>

        <div>
            <h3>Miasto</h3>
            <p name="company_locality" class="list-group-item list-group-item-info">company_locality</p>
            <h3>Adres</h3>
            <p name="company_address" class="list-group-item list-group-item-info">company_address</p>
            <h3>Kod pocztowy</h3>
            <p name="company_postal_code" class="list-group-item list-group-item-info">company_postal_code</p>
            <br>
            <a href="/user-owner-editprofile/" class="btn btn-primary">Edytuj</a>
        </div>
    </form>
</div>
{% endblock %}