<head>
<link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>

<table>
    <tr>
        <td class="user-menu">
            <button>Dane użytkownika</button> 
            <button>Dodaj pole namiotowe</button>
            <button>Moje pola namiotowe</button>
            <button>Zmień dane logowania</button>
            <button>Wyloguj</button>
        </td>
        <td class="user-content">
            
            <h3>Zmień dane logowania</h3>
            <div style="float:left;margin:20px">
                <form>
                    <h2>Email</h2>
                    <input  type="text" name="email">
                    <h2>Hasło</h2>
                    <input type="text" name="password">
                    <h2>Powtórz hasło</h2>
                    <input type="text" name="password">
                    <br><br>
                    <button>Zapisz</button>
                </form>
            </div>           
        
        </td>
        
    </tr>
</table>