<head>
<link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>

<table>
    <tr>
        <td class="user-menu">
            <button>Dane użytkownika</button> 
            <button>Dodaj pole namiotowe</button>
            <button>Moje pola namiotowe</button>
            <button>Zmień dane logowania</button>
            <button>Wyloguj</button>
        </td>
        <td class="user-content">
            
            <h3>Zmień swoje dane</h3>
            <form>
                <div>
                        <h2>Imię</h2>
                        <input  type="text" name="first_name">
                        <h2>Nazwisko</h2>
                        <input type="text" name="last_name">
                        <h2>Telefon</h2>
                        <input type="text" name="phone_number">
                 </div>
                
                <div>
                        <h2>Firma</h2>
                        <input  type="text" name="company_name">
                        <h2>NIP</h2>
                        <input type="text" name="company_NIP">
                        <h2>REGON</h2>
                        <input type="text" name="company_REGON">

                 </div>
                
                <div>
                        <h2>Miasto</h2>
                        <input  type="text" name="company_locality">
                        <h2>Adres</h2>
                        <input type="text" name="company_address">
                        <h2>Kod pocztowy</h2>
                        <input type="text" name="company_postal_code">
                        <br><br>
                        <button>Zapisz</button>
                 </div>
             </form>            
        
        </td>
        
    </tr>
</table>