<!DOCTYPE html>
{% extends 'user-owner.html' %}
{% load staticfiles %}
{% block client %}

<div class="panel-heading">Moje dane</div>
<div class="panel-body">
    <form>
        <div>
        <p>Imię</p>
        <h2 name="first_name">{{first_name}}</h2>
        <p>Nazwisko</p>
        <h2 name="last_name">{{last_name}}</h2>
        <p>Telefon</p>
        <h2 name="phone_number">{{phone_number}}</h2>
        <br>
        </div>
        <div>
            <h2>Firma</h2>
            <p name="company_name">company_name</p>
            <h2>NIP</h2>
            <p name="company_NIP">company_NIP</p>
            <h2>REGON</h2>
            <p name="company_REGON">company_REGON</p>
        </div>

        <div>
            <h2>Miasto</h2>
            <p name="company_locality">company_locality</p>
            <h2>Adres</h2>
            <p name="company_address">company_address</p>
            <h2>Kod pocztowy</h2>
            <p name="company_postal_code">company_postal_code</p>
            <br>
            <a href="#" class="btn btn-primary">Edytuj</a>
        </div>
    </form>
</div>
{% endblock %}