<head>
<link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>

<table>
    <tr>
        <td class="user-menu">
            <button>Dane użytkownika</button> 
            <button>Dodaj pole namiotowe</button>
            <button>Moje pola namiotowe</button>
            <button>Zmień dane logowania</button>
            <button>Wyloguj</button>
        </td>
        <td class="user-content">
            <h3>Moje dane</h3>
            <form>
                <div>
                    <h2>Imię</h2>
                    <p name="first_name">first_name</p>
                    <h2>Nazwisko</h2>
                    <p name="last_name">last_name</p>
                    <h2>Telefon</h2>
                    <p name="phone_number">phone_number</p>
                </div>

                <div>
                    <h2>Firma</h2>
                    <p name="company_name">company_name</p>
                    <h2>NIP</h2>
                    <p name="company_NIP">company_NIP</p>
                    <h2>REGON</h2>
                    <p name="company_REGON">company_REGON</p>
                </div>
                
                <div>
                    <h2>Miasto</h2>
                    <p name="company_locality">company_locality</p>
                    <h2>Adres</h2>
                    <p name="company_address">company_address</p>
                    <h2>Kod pocztowy</h2>
                    <p name="company_postal_code">company_postal_code</p>
                    <br>
                    <button>Edytuj</button>
                </div>
            </form>
            
            
            
            
            
        </td>
        
    </tr>
</table>