<head>
<link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>

<table>
    <tr>
        <td class="user-menu">
            <button>Dane użytkownika</button> 
            <button>Moje rezerwacje</button>
            <button>Zmień dane logowania</button>
            <button>Wyloguj</button>
        </td>
        <td class="user-content">
            <h3>Zmień swoje dane</h3>
            <div>
                <form>
                    <h2>Imię</h2>
                    <input  type="text" name="first_name">
                    <h2>Nazwisko</h2>
                    <input type="text" name="last_name">
                    <h2>Telefon</h2>
                    <input type="text" name="phone_number">
                    <br><br>
                    <button>Zapisz</button>
                </form>
            </div>
            
            
            
        </td>
        
    </tr>
</table>