<!DOCTYPE html>
{% extends 'user.html' %}
{% load staticfiles %}
{% block client %}

<div class="panel-heading">Edytuj moje dane</div>
<div class="panel-body">
    <form  action="" method="post">
        {% csrf_token %}
        <p>Imię</p>
        <input class="form-control" name="first_name" value="{{user.first_name}}">
        <p>Nazwisko</p>
        <input class="form-control" name="last_name" value="{{user.last_name}}">
        <p>Telefon</p>
        <input class="form-control" name="phone_number" value="{{user.phone_number}}">
        <br><br>
        <button type="submit" class="btn btn-primary">Zapisz</button>
    </form >
</div>
{% endblock %}
