<!DOCTYPE html>
{% extends 'user-owner.html' %}
{% load staticfiles %}
{% block client %}

<div class="panel-heading">Moje pola namiotowe</div>
<table class="table table-striped">
    <tbody>
    {% for campsite in campsites %}
    <tr class="no-border">
        <td class="no-border"> {{ campsite.field_name }}</td>
        <td class="margin-right no-border">
            <button class="btn btn-info">Edytuj</button>
            <button class="btn btn-primary">Informacje</button>
            <button class="btn btn-danger">Usuń</button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table><br>
<button class="btn btn-success margin-around">Dodaj nowe pole namiotowe</button><br>
{% endblock %}