<!DOCTYPE html>
{% extends 'user.html' %}
{% load staticfiles %}
{% block client %}

<div class="panel-heading">Edytuj moje dane</div>
<div class="panel-body">
    <form action="" method="post">
        {% csrf_token %}
        <p>Email</p>
        <input class="form-control" name="email" value="{{user.email}}">
        <p>Hasło</p>
        <input class="form-control" name="password" type="password" value="">
        <p>Powtórz hasło</p>
        <input class="form-control" name="password_confirmation" type="password" value="">
        <br><br>
        <button type="submit" class="btn btn-primary">Zapisz</button>
    </form>
</div>
{% endblock %}