<!DOCTYPE html>
{% extends 'user.html' %}
{% load staticfiles %}
{% block client %}

<div class="panel-heading">Moje dane</div>
<div class="panel-body">
    <form>
        <h2>Imię</h2>
        <p name="first_name" class="list-group-item list-group-item-info">{{first_name}}</p>
        <h2>Nazwisko</h2>
        <p name="last_name" class="list-group-item list-group-item-info">{{last_name}}</p>
        <h2>Telefon</h2>
        <p name="phone_number" class="list-group-item list-group-item-info">{{phone_number}}</p>
        <br>
        <a href="/user-editprofile" class="btn btn-primary">Edytuj</a>
    </form>
</div>
{% endblock %}
