<head>
<link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>

<table>
    <tr>
        <td class="user-menu">
            <button>Dane użytkownika</button> 
            <button>Dodaj pole namiotowe</button>
            <button>Moje pola namiotowe</button>
            <button>Zmień dane logowania</button>
            <button>Wyloguj</button>
        </td>
        <td class="user-content">
            <h3>Pole namiotowe - field_name</h3>
            <form>
                <div>
                    <h2>Strona</h2>
                    <p name="field_website">field_website</p>
                    <h2>Telefon</h2>
                    <p name="field_phone_number">field_phone_number</p>
                    <h2>Email</h2>
                    <p name="field_email">field_email</p>
                </div>

                <div>
                    <h2>Miasto</h2>
                    <p name="field_locality">field_locality</p>
                    <h2>Adres</h2>
                    <p name="field_address">field_address</p>
                    <h2>Kod pocztowy</h2>
                    <p name="field_postal_code">field_postal_code</p>
                </div>
                

                
                <div>
                    <h2>Liczba ocen</h2>
                    <p name="ratings_number">ratings_number</p>
                    <h2>Średnia ocen</h2>
                    <p name="average_rating">average_rating</p>
                </div>
                
                <div> 
                    <h2>Udogodnienia</h2>
                    <p name="canteen">canteen</p>
                    <p name="wifi">wifi</p>
                    <p name="shower">shower</p>
                    <p name="easy_access">easy_access</p>
                    <p name="parking">parking</p>
                    <p name="equipment_rental">equipment_rental</p>
                </div>
                
                
                
                <div class="owner-places"> 
                    <h2>Miejsca</h2>
                    <ul>
                        <li>
                            place_type | price | dimension | number_of_places | limit_of_places
                        </li>
                        <li>
                            place_type | price | dimension | number_of_places | limit_of_places
                        </li>
                    </ul>
                </div>
                
                <div style="width:30%;"> 
                    <h2>Zdjęcie pola</h2>
                    <p name="field_photo"><img src="" height="250"></p>
                </div>
                
                
                <div style="width:60%;"> 
                    <h2>Opis pola</h2>
                    <p name="field_description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat</p>
                    <button>Edytuj</button>
                </div>
            
                 
            </form>
        </td>
    </tr>
</table>