<!DOCTYPE html>
{% extends 'user.html' %}
{% load staticfiles %}
{% block client %}

<div class="panel-heading">Moje rezerwacje</div>
<div class="panel-body">
     {% for reservation in reservations %}
    <div class="panel panel-default" style="border: 1px solid #ccc">
        <div class="panel-body">
            <b>Pole namiotowe "{{reservation.campsite.field_name}}" - {{reservation.campsite.field_locality}}</b>
            <br>{{reservation.arrival_date}} - {{reservation.departure_date}}
            <br>{{reservation.number_of_places}} miejsca - {{reservation.price}} zł
            <div style="float: right;">
                <a href="/user-reservation" role="button" class="btn btn-primary">Informacje</a>
                <button onclick="window.location.href='https://google.com/maps/place/{{reservation.campsite.field_address}}/'" class="btn btn-warning">Mapa</button>
                <button class="btn btn-danger">Odwołaj</button>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}