<head>
<link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>

<table>
    <tr>
        <td class="user-menu">
            <button>Dane użytkownika</button> 
            <button>Dodaj pole namiotowe</button>
            <button>Moje pola namiotowe</button>
            <button>Zmień dane logowania</button>
            <button>Wyloguj</button>
        </td>
        <td class="user-content">
            <h3>Edytuj pole namiotowe</h3> 
            <form>
                <div>
                    <h2>Nazwa pola</h2>
                    <input type="text"name="field_name">
                    <h2>Strona</h2>
                    <input type="text"name="field_website">
                    <h2>Telefon</h2>
                    <input type="text"name="field_phone_number">
                    <h2>Email</h2>
                    <input type="text"name="field_email">
                </div>

                <div>
                    <h2>Miasto</h2>
                    <input type="text"name="field_locality">
                    <h2>Adres</h2>
                    <input type="text"name="field_address">
                    <h2>Kod pocztowy</h2>
                    <input type="text"name="field_postal_code">
                    
                </div>
            
                
                <div> 
                    <h2>Udogodnienia</h2>
                    <input type="checkbox" name="canteen">canteen<br>
                    <input type="checkbox" name="wifi">wifi<br>
                    <input type="checkbox" name="shower">shower<br>
                    <input type="checkbox" name="easy_access">easy_access<br>
                    <input type="checkbox" name="parking">parking<br>
                    <input type="checkbox" name="equipment_rental">equipment_rental<br>
                </div>
                
                 <div style="width:20%;"> 
                    <h2>Zdjęcie pola</h2>
                    <p name="field_photo"><img src="" height="100px;">
                    <br> <br> 
                    <button style="float: left;" type="submit" name="field_photo">Zmien zdjęcie</button>
                </div>
                
                <div class="owner-places"> 
                    <h2>Miejsca</h2>
                    
                    <dir>   
                            <h2>Typ miejsca</h2>
                            <input type="text" name="place_type">
                            <h2>Cena</h2>
                            <input type="text" name="price">
                            <h2>Rozmiar</h2>
                            <input type="text" name="dimension">
                            <h2>Ilość miejsc</h2>
                            <input type="text" name="number_of_places">
                            <h2>Limit miejsc</h2>
                            <input type="text" name="limit_of_places">
                            <button style="float: none;">Dodaj miejsce</button>
                            
                    </dir>
                    
                    <dir>   
                            <h2>Typ miejsca</h2>
                            <input type="text" name="place_type">
                            <h2>Cena</h2>
                            <input type="text" name="price">
                            <h2>Rozmiar</h2>
                            <input type="text" name="dimension">
                            <h2>Ilość miejsc</h2>
                            <input type="text" name="number_of_places">
                            <h2>Limit miejsc</h2>
                            <input type="text" name="limit_of_places">
                            <button style="float: none;">Dodaj miejsce</button>
                            
                    </dir>
                    
                    <dir>   
                            <h2>Typ miejsca</h2>
                            <input type="text" name="place_type">
                            <h2>Cena</h2>
                            <input type="text" name="price">
                            <h2>Rozmiar</h2>
                            <input type="text" name="dimension">
                            <h2>Ilość miejsc</h2>
                            <input type="text" name="number_of_places">
                            <h2>Limit miejsc</h2>
                            <input type="text" name="limit_of_places">
                            <button style="float: none;">Dodaj miejsce</button>
                            
                    </dir>
                     
                       
                    
                </div>
                
               
                
                
                <div style="width:80%;"> 
                    <h2>Opis pola</h2>
                    <textarea rows="10" cols="100">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat
                    </textarea>
                    <br><br>
                    
                    <button style="float: none;">Zapisz</button>
                    
                </div>

            </form>
        </td>
    </tr>
</table>