<!DOCTYPE html>
{% extends 'user.html' %}
{% load staticfiles %}
{% block client %}

<div class="panel-heading">Moje pola namiotowe</div>
<table class="table table-striped">
    <tbody>
    {% for campsite in campsites %}
    <tr>
        <td> {{ campsite.field_name }}</td>
        <td>
            <button class="btn btn-info">Edytuj</button>
            <button class="btn btn-primary">Informacje</button>
            <button class="btn btn-danger">Usuń</button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<button class="btn btn-success">Dodaj nowe pole namiotowe</button><br>
{% endblock %}