<!DOCTYPE html>
{% extends 'user.html' %}
{% load staticfiles %}
{% block client %}

<body class="body">
    <div class="panel-heading">Moje dane</div>
    <div class="panel-body">
        <form>
            <p>Imię</p>
            <h2 name="first_name">{{first_name}}</h2>
            <p>Nazwisko</p>
            <h2 name="last_name">{{last_name}}</h2>
            <p>Telefon</p>
            <h2 name="phone_number">{{phone_number}}</h2>
            <br>
            <a href="/user-editprofile" class="btn btn-primary">Edytuj</a>
        </form>
    </div>
{% endblock %}
</body>