<!DOCTYPE html>
{% extends 'user-owner.html' %}
{% load staticfiles %}
{% block client %}

<div class="panel-heading">Edytuj moje dane</div>
<div class="panel-body">
    <form>
        <div>
            <p>Imię</p>
            <input class="form-control half-of-width" name="first_name" value="{{first_name}}">{{first_name}}</input><br>
            <p>Nazwisko</p>
            <input class="form-control half-of-width" name="last_name" value="{{last_name}}">{{last_name}}</input><br>
            <p>Telefon</p>
            <input class="form-control half-of-width" name="phone_number" value="{{phone_number}}">{{phone_number}}</input><br>
        </div>
        <div>
            <p>Firma</p>
            <input class="form-control half-of-width" name="company_name" value="{{first_name}}"></input><br>
            <p>NIP</p>
            <input class="form-control half-of-width" name="company_NIP" value="{{last_name}}"></input><br>
            <p>REGON</p>
            <input class="form-control half-of-width" name="company_REGON" value="{{phone_number}}"></input><br>
        </div>
        <div>
            <p>Miasto</p>
            <input class="form-control half-of-width" name="company_locality" value="{{first_name}}"></input><br>
            <p>Adres</p>
            <input class="form-control half-of-width" name="company_address" value="{{last_name}}"></input><br>
            <p>Kod-pocztowy</p>
            <input class="form-control half-of-width" name="company_postal_code" value="{{phone_number}}"></input><br>
            <br>
            <button class="btn btn-primary">Zapisz</button>
        </div>
    </form>
</div>
{% endblock %}