<head>
<link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>

<table>
    <tr>
        <td class="user-menu">
            <button>Dane użytkownika</button> 
            <button>Dodaj pole namiotowe</button>
            <button>Moje pola namiotowe</button>
            <button>Zmień dane logowania</button>
            <button>Wyloguj</button>
        </td>
        <td class="user-content">
            
            <h3>Moje pola namiotowe</h3>
            <ul>
                <li>
                    Pole namiotowe "Agnieszka"
                    <button>Edytuj</button>
                    <button>Informacje</button>
                    <button>Usuń</button>
                </li>
                <li>
                    Pole namiotowe "Michał"
                    <button>Edytuj</button>
                    <button>Informacje</button>
                    <button>Usuń</button>
                </li>
                <li>
                    Pole namiotowe "Adam"
                    <button>Edytuj</button>
                    <button>Informacje</button>
                    <button>Usuń</button>
                </li>
            </ul>
        
        </td>
        
    </tr>
</table>