<!DOCTYPE html>
{% extends 'user-owner.html' %}
{% load staticfiles %}
{% block client %}

<div class="panel-heading">Informacje o polu namiotowym</div>
<div class="panel-body">
<table>
    <tr>
        <td>
            <form>
                <div>
                    <h2>Pole namiotowe "Agnieszka"</h2>
                    <h2>Strona</h2>
                    <p name="field_website" class="list-group-item list-group-item-info">field_website</p>
                    <h2>Telefon</h2>
                    <p name="field_phone_number" class="list-group-item list-group-item-info">field_phone_number</p>
                    <h2>Email</h2>
                    <p name="field_email" class="list-group-item list-group-item-info">field_email</p>
                </div>

                <div>
                    <h2>Miasto</h2>
                    <p name="field_locality" class="list-group-item list-group-item-info">field_locality</p>
                    <h2>Adres</h2>
                    <p name="field_address" class="list-group-item list-group-item-info">field_address</p>
                    <h2>Kod pocztowy</h2>
                    <p name="field_postal_code" class="list-group-item list-group-item-info">field_postal_code</p>
                </div>
                

                
                <div>
                    <h2>Liczba ocen</h2>
                    <p name="ratings_number" class="list-group-item list-group-item-info">ratings_number</p>
                    <h2>Średnia ocen</h2>
                    <p name="average_rating" class="list-group-item list-group-item-info">average_rating</p>
                </div>
                
                <div> 
                    <h2>Udogodnienia</h2>
                    <p name="canteen" class="list-group-item list-group-item-success">canteen&nbsp;<span class="glyphicon glyphicon-ok"></span></p>
                    <p name="wifi" class="list-group-item list-group-item-success">wifi&nbsp;<span class="glyphicon glyphicon-ok"></span></p>
                    <p name="shower" class="list-group-item list-group-item-success">shower&nbsp;<span class="glyphicon glyphicon-ok"></span></p>
                    <p name="easy_access" class="list-group-item list-group-item-success">easy_access&nbsp;<span class="glyphicon glyphicon-ok"></span></p>
                    <p name="parking" class="list-group-item list-group-item-success">parking&nbsp;<span class="glyphicon glyphicon-ok"></span></p>
                    <p name="equipment_rental" class="list-group-item list-group-item-success">equipment_rental&nbsp;<span class="glyphicon glyphicon-ok"></span></p>
                </div>
                
                
                
                <div class="owner-places"> 
                    <h2>Miejsca</h2>
                    <ul>
                        <li class="list-group-item list-group-item-info">
                            place_type | price | dimension | number_of_places | limit_of_places
                        </li><br><br>
                        <li class="list-group-item list-group-item-info">
                            place_type | price | dimension | number_of_places | limit_of_places
                        </li>
                    </ul>
                </div>
                
                <div style="width:30%;" class="panel panel-info">
                    <div class="panel-heading"><h2>Zdjęcie pola</h2></div>
                    <div class="panel-body"><p name="field_photo"><img src=""></p></div>
                </div>
                
                
                <div class="panel panel-info">
                    <h2 class="panel-heading">Opis pola</h2>
                    <p name="field_description" class="panel-body">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat</p>
                </div>
                <button class="btn btn-info">Edytuj</button>
            </form>
        </td>
    </tr>
</table></div>

{% endblock %}