<head>
<link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>

<table class="header">
    <tr>
        <td>
            <div class="placeholder"></div>
        </td>
        <td >
            <form>
                <input class="searchInput" placeholder="Podaj nazwę miejsocwości lub pola namiotowego" type="text" size="50" name="search">
                <button class="searchButton">Wyszukaj</button>
            </form>
        </td>
        <td align="right">
            <div style="positon:fixed; padding:10px;">
                <a href="#">Rejestracja</a> 
                <a href="#">Zaloguj się</a> 
            </div>
        </td>
    </tr>
</table>




