<head>
<link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>

<table>
    <tr>
        <td class="user-menu">
            <button>Twoje dane</button> 
            <button>Dodaj pole namiotowe</button>
            <button>Pola namiotowe</button>
            <button>Wyloguj</button>
        </td>
        <td class="user-content">
            <div style="float:left;margin:20px">
                <form>
                    <h3>Imię</h3>
                    <input  type="text" name="name">
                    <h3>Nazwisko</h3>
                    <input type="text" name="lastname">
                    <h3>Miasto</h3>
                    <input type="text" name="city">
                </form>
            </div>
            
            <div style="float:left;margin:20px">
                <form>
                    <h3>Adres</h3>
                    <input  type="text" name="address">
                    <h3>Email</h3>
                    <input type="text" name="email">
                    <h3>Telefon</h3>
                    <input type="text" name="phone">
                    <br><br>
                    <button>Zapisz</button>
                </form>
            </div>
            
        </td>
        
    </tr>
</table>